{% extends 'base.html.twig' %}

{% block title %}Fiche Urgence{% endblock %}

{% block body %}
	<main class="fr-pt-md-14v" role="main" id="content">
		<div class="fr-container fr-container--fluid fr-mb-md-14v">
			<div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
				<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
					<div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
						<div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
							<div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
								<h1>Fiche Urgence</h1>
								<form id="urgence-form">
									<fieldset class="fr-fieldset">
										<legend class="fr-fieldset__legend">Informations de Sécurité Sociale</legend>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="nom-centre-securite-sociale">Nom du centre de sécurité sociale</label>
											<input class="fr-input no-resize" type="text" id="nom-centre-securite-sociale" name="nom-centre-securite-sociale">
										</div>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="adresse-centre-securite-sociale">Adresse du centre de sécurité sociale</label>
											<textarea class="fr-input no-resize" id="adresse-centre-securite-sociale" name="adresse-centre-securite-sociale" rows="2"></textarea>
										</div>
									</fieldset>

									<fieldset class="fr-fieldset">
										<legend class="fr-fieldset__legend">Assurance Scolaire</legend>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="nom-assurance-scolaire">Nom de l’assurance scolaire</label>
											<input class="fr-input no-resize" type="text" id="nom-assurance-scolaire" name="nom-assurance-scolaire">
										</div>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="adresse-assurance-scolaire">Adresse et n° de l’assurance scolaire</label>
											<textarea class="fr-input no-resize" id="adresse-assurance-scolaire" name="adresse-assurance-scolaire" rows="2"></textarea>
										</div>
									</fieldset>

									<fieldset class="fr-fieldset">
										<legend class="fr-fieldset__legend">Informations Médicales</legend>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="dernier-rappel-tetanos">Date du dernier rappel de vaccin antitétanique (jj/mm/aaaa)</label>
											<input class="fr-input no-resize" type="date" id="dernier-rappel-tetanos" name="dernier-rappel-tetanos">
										</div>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="observations">Observations particulières (allergies, traitement en cours, précautions particulières à prendre)</label>
											<textarea class="fr-input no-resize" id="observations" name="observations" rows="3"></textarea>
										</div>
									</fieldset>

									<fieldset class="fr-fieldset">
										<legend class="fr-fieldset__legend">Médecin Traitant</legend>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="nom-medecin-traitant">Nom du médecin traitant</label>
											<input class="fr-input no-resize" type="text" id="nom-medecin-traitant" name="nom-medecin-traitant">
										</div>
										<div class="fr-fieldset__element">
											<label class="fr-label" for="adresse-medecin-traitant">Adresse et n° de tel du médecin traitant</label>
											<textarea class="fr-input no-resize" id="adresse-medecin-traitant" name="adresse-medecin-traitant" rows="2"></textarea>
										</div>
									</fieldset>

									<div class="fr-fieldset__element">
										<p>Il est important de nous signaler les changements des numéros de téléphone en cours d’année car nous ne pourrions pas vous joindre.</p>
										<p>En cas d’urgence, un élève accidenté ou malade est orienté par le médecin régulateur du SAMU ou transporté par les services de secours d’urgence vers l’hôpital le mieux adapté. La famille est immédiatement avertie par nos soins.</p>
										<p>Document non confidentiel, à remplir par les familles à chaque début d’année scolaire. Si vous souhaitez transmettre des informations confidentielles, vous pouvez le faire sous enveloppe fermée à l’intention du médecin ou de l’infirmière scolaire de l’établissement.</p>
									</div>

									<div class="fr-fieldset__element">
										<button class="fr-btn" type="submit">Soumettre</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<style>
		.no-resize {
			resize: none;
		}
	</style>
{% endblock %}
