{% extends 'base.html.twig' %}

{% block title %} Formulaire MDL {% endblock %}

{% block body %}
<h1> Formulaire d'adhésion a la MDL </h1>
<p> J'ai plus le droit de parler donc je ne parlerais plus de la journée </p>
<p> C'est de la faute a hugo </p> 
<p>  </p>
{% endblock %}
