{% extends 'base.html.twig' %}

{% block title %}Adhésion à la MDL{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main role="main" id="content">
        <div class="fr-container fr-mt-8v fr-mt-md-14v fr-mb-2v fr-mb-md-8v">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <h1 class="fr-h2">Adhésion à la MDL</h1>

                    {# Bouttons de test #}
                    <button onclick="suivant(1)">Étape 1</button>
                    <button onclick="suivant(2)">Étape 2</button>
                    <button onclick="suivant(3)">Étape 3</button>
                    <button onclick="suivant(4)">Étape 4</button>

                </div>
            </div>
        </div>
<fieldset class="fr-fieldset" aria-label="Demande de nom et prénom" aria-describedby="name-1-fieldset-messages">
    <legend class="fr-fieldset__legend fr-text--regular">Informations personnelles</legend>
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-family-name-1">
                Nom
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="family-name" name="family-name" id="input-family-name-1" type="text" required>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-firstname-1">
                Prénom
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text" required>
        </div>
    </div>
    <div class="fr-messages-group" aria-live="assertive" id="name-1-fieldset-messages">
    </div>
</fieldset>        
{{% endblock %}}