{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}   

{% block body %}
<h1> Acceuil </h1>
<p> J'avance <br> je recule <br> pas </p>
<p> Ce site a pour but de nous permettre de nous inscrire en BTS au lycée Fulbert. Il vous permettra de créer un dossier d'inscription et de suivre l'état de votre candidature. </p>

<div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">

    <div class="fr-col-md-6 fr-col">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title"> <a href="#">Création dossier</a>
                    </h3>
                    <p class="fr-card__desc">Lorem [...] elit ut.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-col-md-6 fr-col">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title"> <a href="#">Intitulé de la carte (sur lequel se trouve le lien)</a>
                    </h3>
                    <p class="fr-card__desc">Lorem [...] elit ut.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-col-md-6 fr-col">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title"> <a href="#">Intitulé de la carte (sur lequel se trouve le lien)</a>
                    </h3>
                    <p class="fr-card__desc">Lorem [...] elit ut.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-col-md-6 fr-col">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title"> <a href="#">Intitulé de la carte (sur lequel se trouve le lien)</a>
                    </h3>
                    <p class="fr-card__desc">Lorem [...] elit ut.</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
