{% extends 'base.html.twig' %}

{% block title %}Inscription à l'Intendance BTS{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main role="main" id="content">
        <form method="post" action="{{ path('fiche-intendance') }}">
            <!-- Section 1 -->
            <article id="intFirst">
                <div class="fr-container fr-container--fluid fr-mb-md-14v">
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                            <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
                                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                                    <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
                                        <h1 class="fr-h2">Inscription à l'Intendance BTS</h1>
                                        <form id="intFirstForm">
                                            <fieldset class="fr-fieldset" id="radio-rich" aria-labelledby="radio-rich-legend radio-rich-messages">
                                                <legend class="fr-fieldset__legend fr-text--regular" id="radio-rich-legend">
                                                    Voulez-vous vous inscrire à l'Intendance BTS ?
                                                </legend>
                                                <div class="fr-fieldset__element">
                                                    <div class="fr-radio-group fr-radio-rich">
                                                        <input value="oui" type="radio" id="acceptYes" name="accepter" required>
                                                        <label class="fr-label" for="acceptYes">
                                                            Oui, j'accepte de m'inscrire à l'Intendance BTS aux tickets
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="fr-fieldset__element" id="intSecond" style="display:none; margin-top: 20px;">
                                                    <p><strong>Tarif du ticket : 4,55€</strong><br>
                                                    Le paiement se fait par télépaiement sur MyTurboSelf ou au niveau de l'Intendance.<br>
                                                    Pour plus d'informations, veuillez consulter l'Intendance à la rentrée.</p>                                              
                                                </div>
                                                <div class="fr-fieldset__element">
                                                    <div class="fr-radio-group fr-radio-rich">
                                                        <input value="non" type="radio" id="acceptNo" name="accepter" required>
                                                        <label class="fr-label" for="acceptNo">
                                                            Non, je veux être externe
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="fr-form-group">
                                                    <button type="button" class="fr-btn" id="validFirst">Valider</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </form>
    </main>
{% endblock %}