#RegistrationFirst {
    display: block; /* Affiche le bloc par défaut */
}
#RegistrationSecond {
    display: none; /* Masque le bloc par défaut */
}
#RegistrationThird {
    display: none; /* Masque le bloc par défaut */
}
#RegistrationFourth {
    display: none; /* Masque le bloc par défaut */
}   

