{% extends 'base.html.twig' %}

{% block title %}Hello CookiesController!{% endblock %}

{% block body %}
<div class="fr-container">
    <h2>Gestion des Cookies</h2>

    <h3>Utilisation des Cookies</h3>
    <p>Notre site utilise des cookies de session pour améliorer votre expérience de navigation. Ces cookies sont temporaires et sont supprimés automatiquement lorsque vous fermez votre navigateur. Ils ne collectent aucune donnée personnelle et sont strictement nécessaires au fonctionnement du site.</p>

    <h3>Pourquoi Utilisons-Nous des Cookies de Session ?</h3>
    <ul>
        <li>Maintenir votre session active pendant que vous naviguez sur le site.</li>
        <li>Assurer le bon fonctionnement des fonctionnalités essentielles du site.</li>
    </ul>

    <h3>Gestion des Cookies</h3>
    <p>Vous pouvez gérer les cookies directement depuis les paramètres de votre navigateur. Cependant, veuillez noter que la désactivation des cookies de session peut affecter le fonctionnement optimal de notre site.</p>

    <p>Pour plus d'informations sur les cookies et comment les gérer, veuillez consulter notre <a href="#">Politique de Gestion des Cookies</a>.</p>
</div>

{% endblock %}
