{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="fr-container">
    <h2>Mentions Légales</h2>

    <h3>Éditeur du site :</h3>
    <ul>
        <li><strong>Nom :</strong> Lycée Fulbert</li>
        <li><strong>Adresse :</strong> 62 rue Saint Chéron, 28000 Chartres</li>
        <li><strong>Téléphone :</strong> 02 37 88 27 00</li>
        <li><strong>Fax :</strong> 02 37 35 79 94</li>
        <li><strong>Email :</strong> <a href="mailto:ce.0281047l@ac-orleans-tours.fr">ce.0281047l@ac-orleans-tours.fr</a></li>
        <li><strong>Vie scolaire :</strong> 02 37 88 27 02</li>
        <li><strong>Type d'établissement :</strong> Établissement public local d'enseignement (EPLE)</li>
    </ul>

    <h3>Directeur de la publication :</h3>
    <ul>
        <li><strong>Fonction :</strong> Proviseur du lycée Fulbert</li>
    </ul>

    <h3>Hébergeur du site :</h3>
    <ul>
        <li><strong>Nom :</strong> Section SIO - Lycée Fulbert</li>
        <li><strong>Adresse :</strong> 62 rue Saint Chéron, 28000 Chartres</li>
        <li><strong>Contact :</strong> <a href="mailto:contact@lyceefulbert.fr">contact@lyceefulbert.fr</a></li>
        <li><strong>Responsable :</strong> Responsable du service informatique</li>
    </ul>

    <h3>Conditions Générales d'Utilisation (CGU) :</h3>
    <p>Les Conditions Générales d'Utilisation sont consultables <a href="{{ path('cgu') }}">sur cette page</a>.</p>

    <h3>Politique de confidentialité :</h3>
    <p>Conformément au Règlement Général sur la Protection des Données (RGPD), notre politique de confidentialité est disponible <a href="{{ path('politique_confidentialite') }}">ici</a>.</p>

    <h3>Déclaration CNIL :</h3>
    <p>Ce site a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro de récépissé [Numéro de récépissé].</p>

    <h3>Propriété intellectuelle :</h3>
    <p>L'ensemble des contenus présents sur ce site sont la propriété exclusive du lycée Fulbert, sauf mentions spécifiques de droits tiers. Toute reproduction, même partielle, est soumise à l'autorisation préalable de l'établissement.</p>

    <h3>Crédits :</h3>
    <p>Contenus et images : Lycée Fulbert, Section SIO, Académie Orléans-Tours, et leurs contributeurs.</p>

    <h3>Accessibilité :</h3>
    <p>Le lycée Fulbert s'engage à rendre son site web accessible conformément aux dispositions du RGAA (Référentiel Général d'Amélioration de l'Accessibilité).</p>

    <h3>Contact :</h3>
    <p>Pour toute question relative à ce site, vous pouvez nous contacter à l'adresse : <a href="mailto:contact@lyceefulbert.fr">contact@lyceefulbert.fr</a></p>
    </div>
{% endblock %}